trigger:
  - main

pool:
  vmImage: ubuntu-latest

jobs:
  - job: test
    steps:
      - task: Maven@4
        inputs:
          mavenPomFile: 'pom.xml'
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.17'
          jdkArchitectureOption: 'x64'
          publishJUnitResults: true
          goals: 'package'

      - task: PublishPipelineArtifact@1
        inputs:
          artifact: drop
          targetPath: '$(Build.SourcesDirectory)/target'

  - deployment: DeployToVM
    environment: my-azure-vm
    strategy:
      runOnce:
        preDeploy:
          steps:
            - task: DownloadPipelineArtifact@2
              inputs:
                artifactName: drop
                targetPath: '$(Pipeline.Workspace)/target'

        deploy:
          steps:
            - task: CopyFilesOverSSH@0
              inputs:
                sshEndpoint: 'My vm SSH'
                sourceFolder: '$(Pipeline.Workspace)/target'
                targetFolder: '~/app'
          

